.element__delete-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;

  width: 18px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-image: url(../../../images/trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s ease;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}