.popup__input {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000000;
  width: 100%;
  border: 0;
  min-height: 27px;
  margin-bottom: 30px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}


.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 560px) {
  .popup__input {
    /* min-height: 24px; */
  }
}


