.profile {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 50px;
}

@media screen and (max-width: 850px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}