.profile {
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 50px;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding: 42px 0 36px;
  }
}

/* @media screen and (max-width: 560px) {
  .profile {
    box-sizing: border-box;
    padding: 42px 19px 0;
    width: 100%;
  }
} */
