.form__input-error {
  display: block;
  /* opacity: 0; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #FF0000;
  margin: 5px 0 0;
  height: 30px;
  overflow: hidden;
  transition: 0.5s;
}