.header {
  /* padding: 0; */
  /* max-width: 880px; */
  border-bottom: 1px solid grey;
  padding-bottom: 41px;
  /* padding: 0 200px 41px;   */
}

@media screen and (max-width: 767px) {
  .header {
    /* padding: 0 27px 32px; */
    padding: 0 27px 32px;
  }
}
