.element__like-amount {
  box-sizing: border-box;
  margin: 0;
  padding-top: 3px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}