.popup__container-image {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  object-fit: cover;
  background-color: transparent;
}