.popup__title {
  margin: 0 0 54px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

@media screen and (max-width: 560px) {
  .popup__title {
    font-size: 16px;
    margin: 0 0 75px;
    font-size: 18px;
    line-height: 22px;
  }
}